/* CONFIGURACIÓN DEL SPRITE DE NATURALEZA */
.sprite-naturaleza {
    width: 100%;
    height: 250px;
    background-image: url('../Imagenes/naturaleza-sprite.jpg'); /* Tu collage de 9 fotos */
    background-repeat: no-repeat;
    background-size: 300.2% 350%;  /* Imagen de 3x3 */
    border-radius: 15px 15px 0 0;
    transition: 0.5s ease;
}

/* Coordenadas para cada paisaje (Ajustar según posición en tu foto) */
.salinas { 
    background-position: -3px 0%; /* Foto 1 (Fila 1, Col 1) */
}

.hornocal { 
    background-position: 50% 0%; /* Foto 2 (Fila 1, Col 2) */
}
.cascada{
    background-position: 99.7% 0%;
}
.quebrada {
    background-position: 0.4% 50%; /* Foto 3 (Fila 1, Col 3) */
}
.laguna{
    background-position: 50% 50%;
}
.lipan{
    background-position: 100% 50%;
}
.garganta{
    background-position: -3px 100%;
}
/* Integración con el efecto Zoom cuando se activa la card */
.card-zoom:focus .sprite-naturaleza {
    height: 300px;
    border-radius: 20px 20px 0 0;
}
